.container {
  border: 1px solid $colorBorder;
  border-radius: 0 0 $borderRadius $borderRadius;
}

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  background: $colorDarkRed;

  &--on-page {
    padding: $cardPadding;
  }

  &__label {
    color: $colorWhite;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;

    &--link {
      font-size: 12px;
      text-align: unset;
      padding: $cardPadding;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__back {
    font-size: 12px;
    position: absolute;
  }
}

.address {
  font-size: 12px;
  background: $colorYellow;
  padding: $cardPadding;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  padding: 10px $cardPadding;

  &--empty {
    padding: 21px $cardPadding;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: flex-start;
  }

  &--on-page {
    justify-content: center;
  }

  &__empty {
    font-size: 12px;
    font-weight: bold;
  }
}
