.container {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 12px;
  background: url(yemeksepeti-logo.ico), $colorDarkBackground;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: 320px;
  border: 1px solid $colorBorder;
  border-radius: $borderRadius;
  overflow: hidden;
  margin-bottom: 5px;
  z-index: -3;

  @include phone {
    background: $colorDarkBackground;
  }
}

.background-mask {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 320px;
  z-index: -2;
  border: none;
  outline: none;
  background: none;
  background: -moz-linear-gradient(270deg, rgba(248, 249, 250, 0.01) 0%, rgba(239, 240, 242, 1) 100%);
  background: -webkit-linear-gradient(270deg, rgba(248, 249, 250, 0.01) 0%, rgba(239, 240, 242, 1) 100%);
  background: linear-gradient(270deg, rgba(248, 249, 250, 0.01) 0%, rgba(239, 240, 242, 1) 100%);

  @include phone {
    display: none;
  }
}

.details {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 18px;
  background: none;
  z-index: -1;

  @include small-phone {
    grid-template-columns: 1fr;
    row-gap: 20px;
    justify-items: center;
  }

  &__logo {
    width: 86px;
    height: 100%;
    object-fit: contain;

    @include small-phone {
      height: auto;
    }
  }

  &__info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-areas:
      'name image'
      'badges image';
    justify-items: flex-start;
    column-gap: 20px;
    row-gap: 12px;

    @include phone {
      grid-template-columns: 1fr;
      grid-template-areas: 'name' 'badges';
      justify-items: stretch;
    }

    &__name {
      grid-area: name;
      max-width: 320px;
      line-height: 19px;
      font-size: 16px;

      @include phone {
        max-width: unset;
        text-align: center;
      }
    }

    &__badges {
      grid-area: badges;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      gap: 12px;

      &__points {
        grid-area: points;
        display: grid;
        grid-auto-flow: column dense;
        grid-auto-columns: auto;
        column-gap: 5px;
      }

      &__delivery {
        grid-area: delivery;
        display: grid;
        grid-auto-flow: column dense;
        grid-auto-columns: auto;
        column-gap: 12px;
      }
    }
  }
}
