$colorOrange: #ff6508;
$colorRed: #ab0012;
$colorDarkRed: #9d201a;
$colorYellow: #f5d66f;
$colorLightGreen: #abc44c;
$colorGreen: #48912a;
$colorBorder: #dcdcdc;
$colorText: #333;
$colorBlack: #000;
$colorWhite: #fff;
$colorBackground: #efefef;

$baseFontSize: 11px;
$wrapperWidth: 960px;
$headerHeight: 84px;
$contentMarginTop: 20px;
