.header {
  position: sticky;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: $colorRed;
}

.container {
  height: $headerHeight;
  padding: 21px 0;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
}
