.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: $colorText;

  @include phone {
    color: red;
  }
}

.image {
  width: 400px;
  height: 400px;
  background-image: url(yemeksepeti-logo.ico);
  background-position: center;
  background-size: cover;
}
