.container {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 10px;
}

.cart {
  position: sticky;
  top: calc($headerHeight + $contentMarginTop);
  width: 240px;
  height: min-content;
}
